    <!DOCTYPE html>
    <html lang="en">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
         <title>Feedback</title>

        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        
        <!-- Custom CSS -->
        <link href="css/landing-page.css" rel="stylesheet">
        <link href="css/feedback-page.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>
    <nav class="navbar navbar-default topnav mainHeaderDiv" role="navigation">
        <div class="container topnav">
           <div class="navbar-header">
               <div>
                <a id="menu-toggle" style="position:absolute;" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
                <nav id="sidebar-wrapper">
                    <ul class="sidebar-nav">
                        <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
                        <li class="sidebar-brand">
                            <a href="#top">Categories</a>
                        </li>
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                         <li>
                            <a href="category2.html">Bride Dress</a>
                        </li>
                        <li>
                            <a href="groom3.html">Groom Dress</a>
                        </li>
                        <li>
                            <a href="caterers.html">Caterers & vendors</a>
                        </li>
                        <li>
                            <a href="honeymoon.html">Honeymoon Spots</a>
                        </li>
                        <li>
                            <a href="jewelry.html">Jewelry</a>
                        </li>
                        <li>
                            <a href="cards.html">Cards</a>
                        </li>
                        <li>
                            <a href="venue.html">Venue</a>
                        </li>
                        <li>
                            <a href="guestlist.html">Making guest list</a>
                        </li>
                    </ul>
                </nav>
            </div>
                <a class="topnav headerFont" href="#">Wedding Planning Redefined</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right ">
                    <li>
                        <div class="btn-group show-on-hover">
                            <button type="button" class="btn btn-default dropdown-toggle marginTop" data-toggle="dropdown">Cindy <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Account Settings</a></li>
                                <li><a href="favorite.html">Favorites</a></li>
                                <li><a href="#">Log Out</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
        
              <div class="uvRow">
                        <div class="uvCol-8">

                        <!-- Forum -->
                        <article>
                            <header class="uvPageHeader">
                                <h1 class="uvPageTitle uvCustomPrimary-color"> Help us improve - Provide Feedback</h1>
                                <div class="uvBreadcrumbs"></div>
                                <div class="uvForumMessage typeset">
                                  <div class="typeset"><p>Leave your feedback and suggestions here! If you’re having issues logging into your account, resetting your password, managing your registries, or editing/accessing your guest list/wedding website, please email <a href="mailto:help@wpredefined.com">help@wpredefined.com</a>. Thank you!</p></div>
                                </div>
                            </header>
                            <div class="formBorder">
                                <p class="formHeader"> Feedback Form </p>
                                <form action="" method="post"><form name="htmlform" method="post" action="html_form_send.php">
                                    <table>
                                    <tr>
                                        <td class="paddingTD">
                                            <label for="nameUser" style="font-weight:bold;color:orange;">Name<span class="req">*</span><span>:&nbsp;&nbsp;</span></label>
                                        </td>
                                        <td>
                                            <input type="text" id="nameUser"/>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="paddingTD">
                                            <label for="email" style="color:orange;font-weight:bold;">Email<span class="req">*</span><span>:&nbsp;&nbsp;</span></label>
                                        </td>
                                        <td>
                                            <input type="text" id="email"/>
                                        </td>
                                    </tr>
                                    <tr>
                                     <td class="paddingTD">
                                         <label for="category" style="font-weight:bold;color:orange;">Category<span class="req">*</span><span>: &nbsp;&nbsp;</span></label>
                                     </td>
                                     <td valign="top">
                                        <span class="uvTab uvTab-dropdown uvField ">
                                          <label class="uvFieldInner" for="category">
                                            <span class="uvFieldPlaceholder"></span>
                                              <select class="uvTabSelect uvFieldSelect" style="width:214px; color:orange;" id="category">
                                                <option>Please Select</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94874-budgeter">Bug</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/95074-dashboard">Dashboard</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94523-favorites-boards">Favorites</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94496-filters">Filters </option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94749-general">General</option>                               
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94522-guest-list-manager">Guest List Manager</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94526-local-vendors">Vendors</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94524-membership">Membership</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/95073-mobile">Mobile</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94871-my-account">My Account</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/94810-navigation">Navigation</option>
                                                <option value="/forums/263843-the-knot-desktop-feedback/category/95746-reviews">Reviews</option>
                                            </select>
                                            </label>
                                         </span>
                                     </td>
                                    </tr>
                                    <br/><br/>
                                    <tr>
                                        <td class="paddingTD">
                                         <label for="comments" style="font-weight:bold;color:orange;">Comments<span class="req">*</span><span>: &nbsp;&nbsp;</span></label>
                                        </td>
                                        <td>
                                            <textarea id="comments" rows="5" cols="30"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="paddingTD">
                                            <input type="reset" value="Reset" />
                                        </td>
                                        <td>
                                            <input type="submit" value="Submit"/>
                                        </td>
                                    </tr>
                                    </table>
                                    
                                    
                                    
                                    
                                </form>
                            </div>
                            
                        </article>
                        <!-- end -->

                    </div>
                    <div class="uvCol-4 uvSidebar uvCol-last">
                        <div class="uvModule uvModule-feedback">
                            <header style="display: none;" class="uvModuleHeader">
                                <h1 class="uvCustomPrimary-color"><span class="uvModuleTriggerTwirl"></span> Feedback</h1>
                            </header>
                            <section class="uvModuleSection uvModuleSection-categories">
                                <h2 class="uvModuleSectionHeader uvCustomPrimary-color">Feedback</h2>
                                <ul class="uvList uvList-categories">
                                    <li class="uvListItem uvListItem-selected"><a href="feedbackDetailed.html">View Feedbacks</a></li>
                                    <li class="uvListItem uvForumFilter-user"><a href="/forums/263843-the-knot-desktop-feedback/filters/my_feedback">My feedback</a></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Bug" href="/forums/263843-the-knot-desktop-feedback/category/94872-bug">Bug</a>&nbsp;<span class="uvListItemFooter uvStyle-count">7</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Dashboard" href="/forums/263843-the-knot-desktop-feedback/category/95074-dashboard">Dashboard</a>&nbsp;</li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Favorites + Boards" href="/forums/263843-the-knot-desktop-feedback/category/94523-favorites-boards">Favorites</a>&nbsp;<span class="uvListItemFooter uvStyle-count">21</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Filters" href="/forums/263843-the-knot-desktop-feedback/category/94496-filters">Filters</a>&nbsp;</li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category General" href="/forums/263843-the-knot-desktop-feedback/category/94749-general">General</a>&nbsp;<span class="uvListItemFooter uvStyle-count">35</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Guest List Manager" href="/forums/263843-the-knot-desktop-feedback/category/94522-guest-list-manager">Guest List Manager</a>&nbsp;<span class="uvListItemFooter uvStyle-count">20</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Local Vendors" href="/forums/263843-the-knot-desktop-feedback/category/94526-local-vendors">Vendors</a>&nbsp;<span class="uvListItemFooter uvStyle-count">1</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Membership" href="/forums/263843-the-knot-desktop-feedback/category/94524-membership">Membership</a>&nbsp;<span class="uvListItemFooter uvStyle-count">5</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Mobile" href="/forums/263843-the-knot-desktop-feedback/category/95073-mobile">Mobile</a>&nbsp;<span class="uvListItemFooter uvStyle-count">1</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category My Account" href="/forums/263843-the-knot-desktop-feedback/category/94871-my-account">My Account</a>&nbsp;<span class="uvListItemFooter uvStyle-count">8</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Navigation" href="/forums/263843-the-knot-desktop-feedback/category/94810-navigation">Navigation</a>&nbsp;<span class="uvListItemFooter uvStyle-count">10</span></li>
                                    <li class="uvListItem uvListItem-category "><a title="View all ideas in category Reviews" href="/forums/263843-the-knot-desktop-feedback/category/95746-reviews">Reviews</a>&nbsp;<span class="uvListItemFooter uvStyle-count">3</span></li>
                                </ul>
                            </section>
                        </div>
                        <div class="uvModule uvModule-mainSidebar">

                          <header style="position: absolute;" class="uvModuleHeader hide">
                            <!-- Header should be present for screenreaders, but hidden, we need an accessible class for this -->
                            <h1 class="uvCustomPrimary-color hidden"><span class="uvModuleTriggerTwirl"></span> Feedback and Knowledge Base</h1>
                            <!-- end -->
                          </header>

                          <section class="uvModuleSection uvModuleSection-search">
                            <form action="/api/v1/search?weight_minimum=40&amp;lang=en">
                              <div class="uvField uvField-search">
                                <label for="combined_search_sidebar" class="uvFieldInner">
                                <!-- this should be a search for knowledgebase and helpdesk. -->
                                  <span class="uvFieldPlaceholder">Search</span>
                                  <input type="text" id="combined_search_sidebar" name="query" class="uvFieldText">

                                  <script id="uvSearch-template-articles" type="text/x-jquery-tmpl">
                                    &lt;h4 class="uvNavListItemSubtitle"&gt;${total_articles} {{if total_articles &gt; 1}}articles{{else}}article{{/if}}&lt;/h4&gt;
                                    &lt;ul class="uvList uvList-searchResults"&gt;
                                      {{each(i, article) articles}}
                                        &lt;li class="uvListItem uvListItem-searchResult" data-search-weight="${article.weight}"&gt;
                                          &lt;a href="${article.path}"&gt;${article.question}&lt;/a&gt;
                                        &lt;/li&gt;
                                      {{/each}}
                                    &lt;/ul&gt;
                                    {{if more_articles}}
                                      &lt;p class="uvSearch-more-results"&gt;&lt;a href="/search?filter=articles&amp;query=${response_data.query}"&gt;More articles &amp;rarr;&lt;/a&gt;&lt;/p&gt;
                                    {{/if}}
                                  </script>

                                  <script id="uvSearch-template-ideas" type="text/x-jquery-tmpl">
                                    &lt;h4 class="uvNavListItemSubtitle"&gt;${total_suggestions} {{if total_suggestions &gt; 1}}ideas{{else}}idea{{/if}}&lt;/h4&gt;
                                    &lt;ul class="uvList uvList-searchResults"&gt;
                                      {{each(i, idea) suggestions}}
                                        &lt;li class="uvListItem uvListItem-searchResult" data-search-weight="${idea.weight}"&gt;
                                        {{if idea.status &amp;&amp; idea.status.name}}
                                          &lt;em class="uvStyle-status uvStyle-status-${idea.status.key}"
                                              title="This idea is ${idea.status.name} ${$.tmplHelpers.toLocalDate(idea.updated_at, '- updated %date%')}"&gt;${idea.status.name}&lt;/em&gt;
                                        {{/if}}
                                          &lt;a href="${idea.path}"&gt;
                                            ${idea.title}
                                          &lt;/a&gt;
                                        &lt;/li&gt;
                                      {{/each}}
                                    &lt;/ul&gt;
                                    {{if more_suggestions}}
                                      &lt;p class="uvSearch-more-results"&gt;&lt;a href="/search?filter=ideas&amp;query=${response_data.query}"&gt;More ideas &amp;rarr;&lt;/a&gt;&lt;/p&gt;
                                    {{/if}}
                                  </script>

                                  <script id="uvSearch-template-title" type="text/x-jquery-tmpl">
                                    {{if searching}}
                                      Searching&amp;hellip;
                                    {{else}}
                                      &lt;a href="/search?filter=merged&amp;query=${query}"&gt;Search results&lt;/a&gt;
                                    {{/if}}
                                  </script>
                                </label>
                                <button type="submit" class="uvFieldButton uvStyle-button"><span class="uvFieldButtonImage-sidebar">Search</span></button>
                                  <div class="uvFieldEtc uvFieldEtc-thinking">(thinking…)</div>
                                  <button class="uvFieldEtc uvFieldEtc-reset" type="reset">Reset</button>
                              </div>
                            </form>
                            <ul class="uvNavList">
                              <li style="display: none;" class="uvNavListItem uvNavListItem-search uvSearch-results-container">
                                <h2 class="uvNavListItemTitle uvSearch-results-title uvCustomPrimary-color">
                                  Searching…
                                </h2>
                                <div class="uvSearchResults uvSearchResults-articles" id="uvSearch-results-articles"></div>
                                <div class="uvSearchResults uvSearchResults-ideas" id="uvSearch-results-ideas"></div>
                                <p class="uvNoResults">No results.</p>
                                <a class="uvSearch-results-clear" href="/forums/263843-the-knot-desktop-feedback">Clear search results</a>
                              </li>
                            </ul>
                          </section>

                          <section class="uvModuleSection">
                            <ul class="uvNavList">

                                <li class="uvNavListItem uvNavListItem-contactus">
                                  <h2 class="uvNavListItemTitle">
                                      <a class="uvLink-contactus-touchpoint uvStyle-link uvCustomLink-color" id="contactus-touchpoint">
                                        Send us feedback
                                      </a>
                                  </h2>
                                </li>

                                <li class="uvNavListItem uvNavListItem-feedback">
                                  <h2 class="uvNavListItemTitle">
                                    <a href="/forums/263843-the-knot-desktop-feedback" class="uvLink-idea">Give feedback</a>
                                  </h2>
                                  <ul data-tmpl="sidebarForumsTmpl" class="uvList uvList-forums">
                                      <li class="uvListItem uvListItem-forum uvListItem-forum-263843 uvListItem-selected">
                                        <a title="View all ideas in The Knot desktop feedback" style="color:orange;" href="/forums/263843-the-knot-desktop-feedback">The feedback</a>&nbsp;<span class="uvStyle-count">206<span class="uvStyle-count-label"> ideas</span></span>
                                      </li>
                                      <li class="uvListItem uvListItem-forum uvListItem-forum-280528">
                                        <a title="View all ideas in The Knot mobile feedback" href="/forums/280528-the-knot-mobile-feedback">The mobile feedback</a>&nbsp;<span class="uvStyle-count">8<span class="uvStyle-count-label"> ideas</span></span>
                                      </li>
                                  </ul>
                                </li>

                                <li class="uvNavListItem uvNavListItem-helpdesk">
                                <!-- popular articles in topics box  HELPDESK -->
                                  <h2 class="uvNavListItemTitle">
                                    <a href="/knowledgebase" class="uvLink-knowledgebase">Knowledge Base</a>
                                  </h2>
                                    <ul class="uvList uvList-topics">
                                          <li class="uvListItem uvListItem-topic uvListItem-topic-74484">
                                            <a title="View all articles in Membership" href="/knowledgebase/topics/74484-membership">Membership</a>&nbsp;<span class="uvStyle-count">11<span class="uvStyle-count-label"> articles</span></span>
                                          </li>
                                          <li class="uvListItem uvListItem-topic uvListItem-topic-74643">
                                            <a title="View all articles in Wedding Checklist" href="/knowledgebase/topics/74643-wedding-checklist">Wedding Checklist</a>&nbsp;<span class="uvStyle-count">7<span class="uvStyle-count-label"> articles</span></span>
                                          </li>
                                          <li class="uvListItem uvListItem-topic uvListItem-topic-74641">
                                            <a title="View all articles in Guest List Manager" href="/knowledgebase/topics/74641-guest-list-manager">Guest List Manager</a>&nbsp;<span class="uvStyle-count">5<span class="uvStyle-count-label"> articles</span></span>
                                          </li>
                                          <li class="uvListItem uvListItem-topic uvListItem-topic-74642">
                                            <a title="View all articles in Favorites &amp; Boards" href="/knowledgebase/topics/74642-favorites-boards">Favorites</a>&nbsp;<span class="uvStyle-count">6<span class="uvStyle-count-label"> articles</span></span>
                                          </li>
                                          <li class="uvListItem uvListItem-topic uvListItem-topic-74644">
                                            <a title="View all articles in Local Vendors" href="/knowledgebase/topics/74644-local-vendors">Vendors</a>&nbsp;<span class="uvStyle-count">3<span class="uvStyle-count-label"> articles</span></span>
                                          </li>
                                          <li class="uvListItem uvListItem-topic uvListItem-topic-74636">
                                            <a title="View all articles in General" href="/knowledgebase/topics/74636-general">General</a>&nbsp;<span class="uvStyle-count">11<span class="uvStyle-count-label"> articles</span></span>
                                          </li>
                                      <li class="uvListItem uvListItem-topic uvListItem-topic-all ">
                                        <a href="/knowledgebase/articles/all">All articles</a>
                                      </li>
                                    </ul>
                                </li>

                              <li class="uvNavListItem uvNavListItem-home">
                                <h2 class="uvNavListItemTitle">
                                  <a href="index.html" class="uvLink-home">Wedding Planning Redefined</a>
                                </h2>
                              </li>

                            </ul>
                          </section>

                        </div>


                        </div>
      </div>
        <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="list-inline centerText">
                        <li>                        
                            <a href="index.html" class="colorFont">Home</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="list-inline centerText">
                        <li>
                            <a href="#" class="colorFont">About Us</a>
                            <p class="fontSize">Established since 2015. Serving the needs of the wedding couples on the go. Get the information whenever needed, wherever you are.</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="list-inline centerText">
                    
                        <li>
                            <a class="colorFont" href="feedback.html">Contact Us</a>
                            <p class="fontSize">help@wpredefined.com<br/>213-123-1234</p>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <ul class="list-inline centerText">
                        <li>
                            <a href="feedback.html" class="colorFont">Feedback</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline centerText">
                       
                    </ul>
                    <p class="centerText colorFont copyright text-muted small">Copyright &copy; Wedding Planning Redefined 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script>
        // Closes the sidebar menu
        $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        });
        // Opens the sidebar menu
        $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
        });
    </script>

    </body>
</html>